<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet"
          href = "https://fonts.googleapis.com/icon?family=Material+Icons"></link>
    <link rel = "stylesheet"
          href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <script type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles.css}" />
    <script th:src="@{/sign.js}"></script>
    <script th:src="@{/validations.js}"></script>

    <script th:inline="javascript">
        function sign() {
            var xml = httpGet('http://localhost:8080/xml');
            var xsd = httpGet('http://localhost:8080/xsd');
            var xsl = httpGet('http://localhost:8080/xxsl');
            console.log(1);


        }
    </script>


</head>
<body>
    <div class="row body">
        <h3 class="center" >Tournament registration</h3>
        <form class="col s12" action="#" th:action="@{/form}" th:object="${team}" method="post">
            <h5>Team</h5>
            <div class="row">
                <!--Tim-->
                <div class="input-field col s6">
                    <input  th:field="*{name}" id="team" type="text"></input>
                    <label for="team">Team Name</label>
                </div>
                <div class="input-field col s6">
                    <input  th:field="*{shortcut}" id="shortcut" type="text"></input>
                    <label for="shortcut">Shortcut</label>
                </div>
                <!--Players-->
                <div class="input-field col s6">
                    <input  th:field="*{player[0]}"  id="player1" type="text"></input>
                    <label for="shortcut">Player 1</label>
                </div>
                <div class="input-field col s6">
                    <input  th:field="*{player[1]}"  id="player2" type="text"></input>
                    <label for="shortcut">Player 2</label>
                </div>
                <div class="input-field col s6">
                    <input  th:field="*{player[2]}"  id="player3" type="text"></input>
                    <label for="shortcut">Player 3</label>
                </div>
                <div class="input-field col s6">
                    <label for="vip">VIP room</label>
                    <input  th:field="*{vip}" id="vip" name="vip" type="checkbox" checked="checked"></input>
                </div>
            </div>
            <hr></hr>
            <!--Contact-->
            <h5>Contact</h5>
            <div class="row">
                <div class="input-field col s6">
                    <input  th:field="*{user.firstName}" id="firstName" type="text"></input>
                    <label for="firstName">Name</label>
                </div>

                <div class="input-field col s6">
                    <input th:field="*{user.lastName}" id="lastName" type="text"></input>
                    <label for="lastName">Surname</label>
                </div>

                <div class="input-field col s6">
                    <input type="number" th:field="*{user.age}" id="age"></input>
                    <label for="age">Age</label>
                </div>
                <div class="input-field col s6">
                    <input th:field="*{user.mail}" id="mail" type="email" class="validate" ></input>
                    <label for="mail">e-mail</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">save</i>Save</button>
            <button class="waves-effect waves-light btn" type="submit" name="action" value="validate"><i class="material-icons left">spellcheck</i>Validate</button>
            <button class="waves-effect waves-light btn" type="submit" name="action" value="show"><i class="material-icons left">desktop_windows</i>Show</button>
            <button class="waves-effect waves-light btn" type="button" onclick="signTheForm();"><i class="material-icons left">create</i>Signature</button>
            <!-- <input id="clickMe" type="button" value="clickme" onclick="signTheForm();" /> -->
        </form>
        <div class="row validationSection" th:switch="${validationResult}">

            <div th:case="Valid">
                <div class="col s12 validBox validation-result">
                    <div class="left icon col s1">
                        <i class="material-icons">check_circle</i>
                    </div>
                    <div class="icon messageBox col s11" >XML is valid!</div>
                </div>
            </div>
            <div th:case="*">
                <div th:if="${validationResult != null}" class="col s12 invalidBox validation-result">
                    <div class="left icon col s1">
                        <i class="material-icons">error</i>
                    </div>
                    <div th:text="${validationResult}" class="icon messageBox left col s11"/>
                </div>
            </div>

            <div th:if="${saveResult != null}" class="col s12 validBox validation-result">
                <div class="left icon col s1">
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="icon messageBox col s11" th:text="${saveResult}"/>
            </div>
        </div>

    </div>
</body>
</html>